In [1]:
import pandas as pd
import dtale

In [2]:
df = pd.read_csv("processed_data/full_train_data.csv")

In [3]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970960 entries, 0 to 970959
Data columns (total 27 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   msno                          970960 non-null  object
 1   is_churn                      970960 non-null  int64
 2   city                          860967 non-null  float64
 3   bd                            860967 non-null  float64
 4   gender                        388905 non-null  object
 5   registered_via                860967 non-null  float64
 6   registration_init_time        860967 non-null  float64
 7   mean_date                     754532 non-null  float64
 8   count_of_logs                 754532 non-null  float64
 9   mean_num_25                   754532 non-null  float64
 10  mean_num_50                   754532 non-null  float64
 11  mean_num_75                   754532 non-null  float64
 12  mean_num_985                  754532 non-null  float64
 13  mean_num_100                  754532 non-null  float64
 14  mean_num_unq                  754532 non-null  float64
 15  mean_total_secs               754532 non-null  float64
 16  number_transactions_done      825368 non-null  float64
 17  mean_payment_plan_days        825368 non-null  float64
 18  total_payment_plan_days       825368 non-null  float64
 19  mean_plan_list_price          825368 non-null  float64
 20  mean_actual_amount_paid       825368 non-null  float64
 21  total_actual_amount_paid      825368 non-null  float64
 22  mean_is_auto_renew            825368 non-null  float64
 23  mean_transaction_date         825368 non-null  float64
 24  mean_membership_expire_date   825368 non-null  float64
 25  mean_is_cancel                825368 non-null  float64
 26  total_transactions_cancelled  825368 non-null  float64
dtypes: float64(24), int64(1), object(2)
memory usage: 200.0+ MB

In [10]:
numeric_df = df.drop(columns=['msno', 'gender'])

# Handle missing values by filling with zero (you can choose a different method)

# Calculate the correlation matrix
corr_matrix = numeric_df.corr()

# Display the correlation matrix
corr_matrix["is_churn"].sort_values()

mean_is_auto_renew             -0.322745
mean_date                      -0.215020
number_transactions_done       -0.209433
mean_transaction_date          -0.146887
registered_via                 -0.080642
count_of_logs                  -0.065492
mean_num_100                   -0.001253
mean_total_secs                -0.000725
registration_init_time         -0.000021
mean_num_985                    0.005538
mean_num_unq                    0.006057
mean_num_25                     0.007841
mean_num_75                     0.012429
mean_num_50                     0.013284
bd                              0.065719
city                            0.081424
mean_membership_expire_date     0.327534
total_transactions_cancelled    0.371768
total_actual_amount_paid        0.398211
mean_is_cancel                  0.421851
total_payment_plan_days         0.435335
mean_actual_amount_paid         0.444332
mean_plan_list_price            0.448666
mean_payment_plan_days          0.464500
is_churn                        1.000000
Name: is_churn, dtype: float64

### Feature Engineering

In [11]:
df.head(2)

,msno,is_churn,city,bd,gender,registered_via,registration_init_time,mean_date,count_of_logs,mean_num_25,...,mean_payment_plan_days,total_payment_plan_days,mean_plan_list_price,mean_actual_amount_paid,total_actual_amount_paid,mean_is_auto_renew,mean_transaction_date,mean_membership_expire_date,mean_is_cancel,total_transactions_cancelled
0,EaEj45+VQtj3xDpynVuUE/A6o86l3BSSG2aTOUD27l4=,0,22.0,23.0,male,3.0,20120414.0,2.017032e+07,20.0,6.250000,...,30.0,30.0,149.0,149.0,149.0,0.0,20170322.0,20170421.0,0.0,0.0
1,amLXK2ui+Ps78QU88Y4qbY/4P7yNX9sx4EHQ2eczsGE=,0,13.0,53.0,male,9.0,20120415.0,2.017031e+07,17.0,3.294118,...,30.0,30.0,149.0,149.0,149.0,1.0,20170312.0,20170411.0,0.0,0.0

In [14]:
df["fe_payment_days_div_amount_paid"] = df["mean_payment_plan_days"] / df["mean_actual_amount_paid"]
df["fe_mean_autorenew_mul_mean_cancel"] = df['mean_is_auto_renew'] * df["mean_is_cancel"]
df["fe_amount_div_n_trans"] = df['mean_actual_amount_paid'] / df["number_transactions_done"]