In [1]:
import pandas as pd
import dtale

In [2]:
df = pd.read_csv("processed_data/full_train_data.csv")

In [3]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970960 entries, 0 to 970959
Data columns (total 27 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   msno                          970960 non-null  object
 1   is_churn                      970960 non-null  int64
 2   city                          860967 non-null  float64
 3   bd                            860967 non-null  float64
 4   gender                        388905 non-null  object
 5   registered_via                860967 non-null  float64
 6   registration_init_time        860967 non-null  float64
 7   mean_date                     754532 non-null  float64
 8   count_of_logs                 754532 non-null  float64
 9   mean_num_25                   754532 non-null  float64
 10  mean_num_50                   754532 non-null  float64
 11  mean_num_75                   754532 non-null  float64
 12  mean_num_985                  754532 non-null  float64
 13  mean_num_100                  754532 non-null  float64
 14  mean_num_unq                  754532 non-null  float64
 15  mean_total_secs               754532 non-null  float64
 16  number_transactions_done      825368 non-null  float64
 17  mean_payment_plan_days        825368 non-null  float64
 18  total_payment_plan_days       825368 non-null  float64
 19  mean_plan_list_price          825368 non-null  float64
 20  mean_actual_amount_paid       825368 non-null  float64
 21  total_actual_amount_paid      825368 non-null  float64
 22  mean_is_auto_renew            825368 non-null  float64
 23  mean_transaction_date         825368 non-null  float64
 24  mean_membership_expire_date   825368 non-null  float64
 25  mean_is_cancel                825368 non-null  float64
 26  total_transactions_cancelled  825368 non-null  float64
dtypes: float64(24), int64(1), object(2)
memory usage: 200.0+ MB

In [9]:
numeric_df = df.drop(columns=['msno', 'gender'])

# Handle missing values by filling with zero (you can choose a different method)
numeric_df = numeric_df.fillna(0)

# Calculate the correlation matrix
corr_matrix = numeric_df.corr()

# Display the correlation matrix
corr_matrix["is_churn"].sort_values()

mean_is_auto_renew             -0.323551
number_transactions_done       -0.241063
mean_transaction_date          -0.206304
mean_membership_expire_date    -0.206251
count_of_logs                  -0.044714
registered_via                 -0.014833
mean_date                      -0.002024
mean_num_100                   -0.001820
mean_total_secs                -0.001446
mean_num_unq                    0.003625
mean_num_985                    0.004187
mean_num_25                     0.005874
mean_num_75                     0.009345
mean_num_50                     0.010399
registration_init_time          0.045557
bd                              0.071844
city                            0.088410
total_actual_amount_paid        0.246113
mean_actual_amount_paid         0.249961
mean_plan_list_price            0.252806
mean_payment_plan_days          0.267917
total_payment_plan_days         0.274525
total_transactions_cancelled    0.280000
mean_is_cancel                  0.321211
is_churn                        1.000000
Name: is_churn, dtype: float64